.infoItem{
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-basis: 200px;
	margin-bottom: $xl-size;
	@media (max-width: 430px) {
	        flex-basis: 150px
	    }
	.infoItem_name{
		width: 100%;
		text-align: center;
		margin-bottom: $s-size;
	}
	.infoItem_value{
		margin-left: $s-size;
	}
	
}