.location{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: $s-size;
	margin-top: $s-size;
	.location__label{
		margin-right: $s-size;
	}
	.location__input{
		border: 2px solid $grey;
		border-radius: 4px;
		padding: 6px 6px;
		font-size: $font-size-small;
	}
	.location__btn{
		border: none;
		background-color: $blue;
		color: $off-white;
		padding: 5px;
		margin-left: $s-size;
		outline: none;
		border-radius: 2px;
	}
}