.sideMenu{
	position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    ul{
        margin:0;
        padding: 0 $s-size;
        list-style: none;
    }
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}